<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Node.js Mysql</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#" _msttexthash="381446" _msthash="37">Barra de navegación</a>
        
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#"><font _mstmutation="1" _msttexthash="59059" _msthash="39">Hogar </font><span class="sr-only" _msttexthash="122200" _msthash="40">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="../customers" _msttexthash="136006" _msthash="41">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../productos" _msttexthash="95589" _msthash="42">Productos</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" href="#" _msttexthash="107419" _msthash="43">Acerca de</a>
            </li>
           
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar" _mstplaceholder="74607" _msthash="49">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" _msttexthash="76154" _msthash="50">Buscar</button>
          </form>
        </div>
      </nav>    